body {
  background-color: #000000;
  color: #b02dd1;
  font-family: monospace;
  margin: 0;
  padding: 0;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal {
  background-color: #000000;
  border: 2px solid #b02dd1;
  padding: 2rem;
  box-shadow: 5px 5px 10px #b02dd1;
  width: 900px; 
  height: 400px; 
  font-size: 1.20rem; 
  display: flex;
  flex-direction: column;
}

.terminal-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #000000;
  padding: 0.5rem;
  color: #ffffff;
  font-weight: bold;
}

.blink {
  display: inline-block;
  width: 10px;
  height: 20px;
  background-color: #b02dd1;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.terminal-buttons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto; 
}

.button {
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff; 
  background-color: #000000; 
  color: #ffffff; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  cursor: pointer;
}

.terminal-title {
  flex-grow: 1;
  text-align: center;
}